*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(myphotos.htm/img1.jpg);
    background-color: rgb(136, 99, 31);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: relative;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 11vw;
    cursor: pointer;
}
.menu-icon{
    width: 3vw;
    cursor: pointer;
    margin: 4vw;
}
.nav{
    flex: 1;
    text-align: right;
      
}
.home{
    list-style: none;
    display: inline-block;
    margin-left: 6vw;
    flex: 1;
    text-align: right;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li{
    display: inline-block;
    padding: 2vw;
    transition: 0.3s;


}

nav ul li:hover{
    transform: translateY(-4px);

}
nav ul li a{
    text-decoration: none;
    font-size: 1.6vw;
    color: aliceblue;  
    
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    
}
.col{
    flex-basis: 50%;
}

.des {
    color: #fff;
    font-size: 6vw;
    margin-top: 5vw;
    transition: transform 0.9;
    padding: 2vw;
    line-height: 5vw;
    
}
h1:hover{
    transform: translateY(-4px);
    box-shadow: 0 0 40px 5px  rgba(5, 4, 5, 0.301) ;
}
.pa{
    color: #fff;
    font-size:3vw;
    line-height: 3vw;
    padding: 1vw;
    margin-top: 2vw;
}
/* -----------------------------swiper start------------------------------------------------------- */

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: rgb(2, 2, 2);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006) ;  /* for bottom reflection */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .artwork h1{
      color: black;
      text-align: center;
  }
/* -----------------------------swiper end------------------------------------------------------- */

    .section-title{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 4vw;
        margin-bottom: 6vw;
    } 
    .section-title h1{
        display: inline-block;     /* utna hi block cover hoga*/
        text-transform: uppercase;
        color: black;
        text-align:center;
        font-size: 4vw;
        margin-left: 6vw;
        right: px;
    }
    .ab{
        margin-right: 5.9vw ;
    }
    .section-title h4{
        font-size: 2vw;
        color: #423940;
        position: relative;
        padding-bottom: 2vw;
    }
    .section-title h4::before{
        content: '';
        height: .5vw;
        background-color: #ff0000;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 9vw;
        right:0px;
        border-radius: 5vw;
        margin: auto;
    } 
    .text-center {
    text-align: center !important;
    }
    .text-left {
    text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .about{
        width: 100%;
        height: 25vw;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;   /*create space between 2 diff things*/
        margin-bottom: 10vw;
        padding: 5vw 5% 0 5%;
        position: relative;
        
    }
    .about-text{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 50%;
    }
    .about-text h1{
        font-size: 6rem;
        color: black;
    

    }
    .about-text h2{
        font-size: 3vw;
        color: rgb(26, 22, 22);
        font-weight: 400;
    }
    .about-text h1,h2{
        margin: 0;
        padding: 0;
    }
    .about-text .am {
        display: inline-block;
        font-size: 9vw;
        

    }
    .about-text p{
        font-size: 1.5vw;
        color: black;
        padding-bottom: 2vw;
    }
     .about-mdel img{
        width: 30vw;
        border-radius: 1px;
        margin-top: 6vw;
    }

    .btn{
        font-size: 1vw;
        font-family: sans-serif;
        font-weight: 600;
        padding: 1vw 3vw;
        color: #e9e9e9;
        border-radius: 40vw;
        -webkit-transition: all 0.2s ease;
        transition: all 0.4s ease;
        display: inline-block;
        white-space: nowrap;
        border: none;
        cursor: pointer;
        background-color: #d32a2a;
    }
    .btn:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }


    /* --------------------persona-info --------------------*/

    
    .skill h1{
        margin: 6vw;
        margin-left: 6vw;
        padding: 3vw;
        font-weight: 700;
        font-size: 5vw;
        text-align: center;
        display: inline-block;
        
    }
    .skill h2{
        font-size: 2vw;
        margin-left: 6vw;

    }


    /*---------------------------footer start------------------------------*/
    

    footer{
        background: #212121;
        height: 40vh;
        margin-top: 3vw;
        padding: 2vw 3vw;
    }
    footer .container007{
     width: 100%;
     max-width: 110vw;
     margin: 0 auto;  
     display: flex;
     padding-top: 2vw ;
     align-items: flex-start;
     justify-content: space-between;
     flex-wrap: wrap;
    }
    footer .ftr h3{
        font-size: 1.9vw;
        margin-bottom: 1.2vw;
        color: #fff;
    }
    footer .content{
        list-style: none;
        font-size: 1vw;
    }
    footer .content a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        opacity: 0.6;
        line-height: 1.4vw;
        transition: 0.2s ease opacity;
    }
    footer .content a:hover{
        opacity:1;
    }
    footer .ftr{
        flex-basis: 18%;
    }
    form{
        display: flex;
        align-items: center;
        width: 100%;
    }
    input{
        border: none;
        outline: none;
        padding: .5vw;
        margin: 1vw 0;
        background: #f5f5f5;
    }
    .button input{
        background: rgb(243, 3, 3);
        color: #fff;
        transition: 0.2s ease background;
    }
    .button input:hover{
        background: #000;
    }

    .element {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5vh 10vw;
        
        justify-content: space-between;
    }
    
    
    .element  h2 {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        margin-left: 14vw;
        margin: 20px;
    }    
    .element .clicks a{
        padding: 20px;
        margin-left:140px ;
        color: #f5f5f5;
        text-decoration: none;
    }

/*---------------------------footer end------------------------------*/

/* ---------------------my skills---------------------------- */
    #myservice {
        margin-top: 5%;
        margin-bottom: 15%;
    }
    
    #myservice .service {
        background-color: #eb1a1ab9;
        color: #ffffff;
        width: 30%;
        float: left;
        margin-left: 1%;
        padding: 10px;
        text-align: center;
        opacity: 75%;
        margin-top: 1vw;
    }
    
    #myservice .service h1,p {
        padding: .5vw;
    }
    .service{
        font-size: 1vw;
    }
    #myservice .title {
        margin-left: 1vw;
        margin-bottom: 2vw;
        font-size: 35vw;
    }
    
    .title {
        margin-left: 45vw;
        font-size:6vw;
        margin-top: 2vw;
        margin-bottom: 3%;
        display: inline;
    }
    
    #myskills .skill {
        width: 10%;
        float: left;
        text-align: center;
        margin-left: 5%;
        
    }
    
    #myskills .skill img {
        width: 100%;
        transition-property: transform;
        transition-duration: 1s;
    }
    
    #myskills .skill img:hover {
        transform: rotate(360deg);
    }
    
    #myskills .skill h1 {
        font-size: 30vw;
    }
    #myskills .skill h3{
        margin-top: 5vw;
        margin-bottom: 3vw;
        font-size: 2vw;
    }
    .sd{
        font-size: 40px;
        color: #000000;
        margin-left: 5%;
    }
